@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
    --color-brand-teal: #00c8a2;
    --color-brand-mid: #33d150;
    --color-brand-lime: #80e825;

    --color-background: ;
}

@layer base {
    body {
        @apply bg-background text-black;
    }
}

@layer utilities {
    .from-brand-teal {
        --tw-gradient-from: var(--color-brand-teal);
    }
    .via-brand-mid {
        --tw-gradient-stops: var(--tw-gradient-from), var(--color-brand-mid),
            var(--tw-gradient-to);
    }
    .to-brand-lime {
        --tw-gradient-to: var(--color-brand-lime);
    }

    .bg-brand-gradient {
        background-image: linear-gradient(
            90deg,
            var(--color-brand-teal) 0%,
            var(--color-brand-mid) 50%,
            var(--color-brand-lime) 100%
        );
    }
}
